POSTGRES_DB=roomie
POSTGRES_USER=roomie
POSTGRES_PASSWORD=roomie_secure_pass_9281
TURN_SECRET=roomie_turn_hmac_secret_key_32_chars_long
TURN_PUBLIC_IP=13.234.238.124
TURN_PORT=3478
TURN_RELAY_MIN=49160
TURN_RELAY_MAX=49180
